---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.page-content > p > img {
  max-width: 50%;
}

.header-title {
  float: right;
  top: 1.5em;
  right: 1em;
  margin-bottom: -2em;
  padding: 6pt 14pt;
  background-color: color(srgb 0.0091 0.441 0.61/0.78);
  color: white;
  font-weight: bold;
  font-size: 2em;
  position: relative;
}

.header-subtitle {
  position: relative;
  top: -1.5em;
  left: 2em;
  background-color: color(srgb 0.56 0.1512 0.2096 / 0.69);
  padding: 3pt 6pt;
  margin: -1em;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  width: fit-content;
}

@include media-query($on-palm) {
  .page-content > p > img {
    max-width: 100%;
  }
}

.div-float-right {
  float: right;
  padding-bottom: 2em;
  max-width: 50%;
}

@include media-query($on-palm) {
  .div-float-right {
    max-width: 100%;
  }
}

table {
  width: unset;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 24px;
}